

/*General Styling*/
* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden!important;
  width: 100%;
}

img.workingonit {
  width: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

p, footer, textarea, input {
  font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5, button {
  font-family: 'Merriweather', sans-serif;
}


/*Nav*/
.menu-mobile {
  display: none;
}


/*Page Content*/

.content {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}




img.avatar {
  width: 200px;
  position: absolute;
  top: -3em;
  left: 50%;
  transform: translateX(-50%);
}

.description {
    padding: 5em 2em 2em;
    line-height: 1.8;
    font-size: 22px;
    width: 61%;
    margin: 3em auto;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 2px solid lightgray;
    opacity: 0;
}

.description-animation {
  animation-name: popIn;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
}

@keyframes popIn {
  0% {bottom:-200px}
  100% {bottom: 0px; opacity:1;}
}

.description p:first-of-type {
  margin-bottom: 1em;
}

.menu-fullscreen {
  width: 70%;
}

.menu-fullscreen ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu-fullscreen ul li a {
  text-decoration: underline;
  color: black;
  font-family: 'Merriweather', sans-serif;
  font-weight: 200;
}

.navigation-mobile {
  display: none;
}

footer {
  height: 15vh;
  font-size: 12px;
  color: darkgrey;
  display: flex;
  justify-content: center;
}


@media screen and (max-width:900px){

  .description {
    font-size: 18px;
    padding: 4em 1.5em 1.5em;
    border: 2px solid lightgray;
  }

  img {
    width: 150px;
  }

  .content {
    min-height: 80vh;
    padding-top: 3em;
    overflow-x: none;
  }


  .menu-fullscreen {
    display: none;
  }


 .navigation-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 99;
  background:whitesmoke;
  border: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: ease-in-out;
  transition: 0.9s;
  overflow-x: hidden;
 }

 .navigation-mobile ul li a {
   opacity: 0;
   transition-delay: 800ms;
 }

 .active {
    width: 100%;
    transition: width ease-in-out 0.9s;  
 }

 .active ul li a {
   opacity: 1;
   transition-delay: 1ms ;
 }

 .navigation-mobile ul {
   text-align: center;
   list-style: none;
 }

 .navigation-mobile ul li {
   margin: 3em auto;
 }

 .navigation-mobile ul li a {
   text-decoration: none;
   font-family: 'Merriweather', sans-serif;
   color: #000;
   font-size: 2em;
 }


  footer {
    height: auto;
    display: flex;
    align-items: flex-end;
  }
}


@media screen and (max-width:
500px){
  
  #nav-icon {
    width: 40px;
    height: 5px;
    position: absolute;
    right: 1em;
    top: 2em;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  
  #nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 7px;
  }
  
  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    left: 8px;
  }

}




/*Contact Form*/


.content.form {
  margin: 0;
  padding: 5vh 0;
  min-height: 85vh;
}

form {
  width: 80%;
  min-height: 100%;
  display: flex;
  padding: 0 0 1em;
  margin: 1em 0 0;
  background: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}


.contact-row {
  margin: 1em auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact-row input {
  width: 90%;
  border: 0;
  border-width: 0px;
  padding: 1em 0 0.5em 1em;
  background: transparent;
  border-bottom: 2px solid lightgray;
  border-radius: 0px;
  text-align: left;
  margin-right: auto;
}

.contact-row input:focus {
  border-bottom: 2px solid lightslategrey;
  transition: 1000ms;
  outline: 0;
  border-radius: 0;
}

.contact-row textarea:focus {
  border: 2px solid lightslategrey;
  transition: 1000ms;
  outline: 0;
}

.contact-row input:focus:placeholder-shown, textarea:focus:placeholder-shown {
  color: lightslategrey;
  transition: 1000ms;
}

.contact-row button {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background: black;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

button:focus {
  outline: 0;
}

.contact-row textarea {
  width: 100%;
  height: 140px;
  padding: 1em;
  resize: none;
  border-radius: 10px;
  border: 2px solid lightgray;
  background: transparent;
}


input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.thanks {
  text-align: center;
  margin: 1em auto;
}

.thanks:first-of-type {
  margin-top: 3em;
}

