
* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden!important;
  width: 100%;
}

img.workingonit {
  width: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

p, footer, textarea, input {
  font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5, button {
  font-family: 'Merriweather', sans-serif;
}

.content {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.bar {
  background: #000;
  height: 0.15em;
  width: 2em;
  display: block;
  border-radius: 5px;
  margin: 0.15em 0;
}


img {
  width: 200px;
  position: absolute;
  top: -3em;
  left: 50%;
  transform: translateX(-50%);
}

.description {
    padding: 5em 2em 2em;
    line-height: 1.8;
    font-size: 22px;
    width: 61%;
    margin: 3em auto;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 2px solid lightgray;
    opacity: 0;
}

.description-animation {
  animation-name: popIn;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
}

@keyframes popIn {
  0% {bottom:-200px}
  100% {bottom: 0px; opacity:1;}
}

.description p:first-of-type {
  margin-bottom: 1em;
}

.menu-fullscreen {
  width: 70%;
}

.menu-fullscreen ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu-fullscreen ul li a {
  text-decoration: underline;
  color: black;
  font-family: 'Merriweather', sans-serif;
  font-weight: 200;
}

.menu-mobile {
  display: none;
}

.navigation-mobile {
  display: none;
}

footer {
  height: 15vh;
  font-size: 12px;
  color: darkgrey;
  display: flex;
  justify-content: center;
}


@media screen and (max-width:900px){

  .description {
    font-size: 18px;
    padding: 4em 1.5em 1.5em;
    border: 2px solid lightgray;
  }

  img {
    width: 150px;
  }

  .content {
    min-height: 80vh;
    padding-top: 3em;
    overflow-x: none;
  }

  .menu-fullscreen {
    display: none;
  }

  /*menu mobile*/
   .menu-mobile {
    width: 50%;
    position: absolute;
    top: 2em;
    right: 0;
    display: flex;
    padding-right: 2em;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
    cursor: pointer;
  }

 

 .navigation-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 99;
  background:whitesmoke;
  border: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: ease-in-out;
  transition: 0.9s;
  overflow-x: hidden;
 }

 .navigation-mobile ul li a {
   opacity: 0;
   transition-delay: 800ms;
 }

 .active {
    width: 100%;
    transition: width ease-in-out 0.9s;  
 }

 .active ul li a {
   opacity: 1;
   transition-delay: 1ms ;
 }

 .navigation-mobile ul {
   text-align: center;
   list-style: none;
 }

 .navigation-mobile ul li {
   margin: 3em auto;
 }

 .navigation-mobile ul li a {
   text-decoration: none;
   font-family: 'Merriweather', sans-serif;
   color: #000;
   font-size: 2em;
 }


  footer {
    height: auto;
    display: flex;
    align-items: flex-end;
  }
}


@media screen and (max-width:
400px){
  


}



@media screen and (max-height:600px){
  .content {
    margin: 3em auto 0;
  }

}


/*Contact Form*/

form {
  width: 70%;
  min-height: 60vh;
  padding: 0em 1em 2em;
  display: flex;
  margin: 1em auto 0;
  background: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}


.contact-row {
  margin: 1em auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact-row input {
  width: 100%;
  border: 0;
  border-width: 0px;
  padding: 1em 0 0.5em 1em;
  background: transparent;
  border-bottom: 2px solid lightgray;
}

.contact-row input:focus {
  border-bottom: 2px solid lightslategrey;
  transition: 1000ms;
  outline: 0;
}

.contact-row textarea:focus {
  border: 2px solid lightslategrey;
  transition: 1000ms;
  outline: 0;
}

.contact-row input:focus:placeholder-shown, textarea:focus:placeholder-shown {
  color: lightslategrey;
  transition: 1000ms;
}

.contact-row button {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: lightslategray;
  background: transparent;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: 0;
}

.contact-row textarea {
  width: 100%;
  height: 140px;
  padding: 1em;
  resize: none;
  border-radius: 10px;
  border: 2px solid lightgray;
  background: transparent;
}


input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

